# Lab 5: Wide and Deep Networks
## by Michael Doherty, Leilani Guzman, and Carson Pittman

Link to the dataset: https://www.kaggle.com/datasets/alexteboul/diabetes-health-indicators-dataset

## 1. Preparation
### 1.1 Data Preprocessing and Description

In [7]:
import pandas as pd

df = pd.read_csv("data/diabetes_012_health_indicators_BRFSS2015.csv")

df.info()
df.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 253680 entries, 0 to 253679
Data columns (total 22 columns):
 #   Column                Non-Null Count   Dtype
---  ------                --------------   -----
 0   Diabetes_012          253680 non-null  float64
 1   HighBP                253680 non-null  float64
 2   HighChol              253680 non-null  float64
 3   CholCheck             253680 non-null  float64
 4   BMI                   253680 non-null  float64
 5   Smoker                253680 non-null  float64
 6   Stroke                253680 non-null  float64
 7   HeartDiseaseorAttack  253680 non-null  float64
 8   PhysActivity          253680 non-null  float64
 9   Fruits                253680 non-null  float64
 10  Veggies               253680 non-null  float64
 11  HvyAlcoholConsump     253680 non-null  float64
 12  AnyHealthcare         253680 non-null  float64
 13  NoDocbcCost           253680 non-null  float64
 14  GenHlth               253680 non-null  float64
 15  MentHlth              253680 non-null  float64
 16  PhysHlth              253680 non-null  float64
 17  DiffWalk              253680 non-null  float64
 18  Sex                   253680 non-null  float64
 19  Age                   253680 non-null  float64
 20  Education             253680 non-null  float64
 21  Income                253680 non-null  float64
dtypes: float64(22)
memory usage: 42.6 MB

,Diabetes_012,HighBP,HighChol,CholCheck,BMI,Smoker,Stroke,HeartDiseaseorAttack,PhysActivity,Fruits,...,AnyHealthcare,NoDocbcCost,GenHlth,MentHlth,PhysHlth,DiffWalk,Sex,Age,Education,Income
0,0.0,1.0,1.0,1.0,40.0,1.0,0.0,0.0,0.0,0.0,...,1.0,0.0,5.0,18.0,15.0,1.0,0.0,9.0,4.0,3.0
1,0.0,0.0,0.0,0.0,25.0,1.0,0.0,0.0,1.0,0.0,...,0.0,1.0,3.0,0.0,0.0,0.0,0.0,7.0,6.0,1.0
2,0.0,1.0,1.0,1.0,28.0,0.0,0.0,0.0,0.0,1.0,...,1.0,1.0,5.0,30.0,30.0,1.0,0.0,9.0,4.0,8.0
3,0.0,1.0,0.0,1.0,27.0,0.0,0.0,0.0,1.0,1.0,...,1.0,0.0,2.0,0.0,0.0,0.0,0.0,11.0,3.0,6.0
4,0.0,1.0,1.0,1.0,24.0,0.0,0.0,0.0,1.0,1.0,...,1.0,0.0,2.0,3.0,0.0,0.0,0.0,11.0,5.0,4.0

In [9]:
df = pd.get_dummies(df, columns=['HighBP', 'HighChol', 'CholCheck', 'Smoker', 'Stroke', 'HeartDiseaseorAttack', 'PhysActivity', 'Fruits', 'Veggies', 'HvyAlcoholConsump', 'AnyHealthcare', 'NoDocbcCost', 'GenHlth', 'DiffWalk', 'Sex', 'Age', 'Education', 'Income'], dtype=int)

df.info()
df.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 253680 entries, 0 to 253679
Data columns (total 64 columns):
 #   Column                    Non-Null Count   Dtype
---  ------                    --------------   -----
 0   Diabetes_012              253680 non-null  float64
 1   BMI                       253680 non-null  float64
 2   MentHlth                  253680 non-null  float64
 3   PhysHlth                  253680 non-null  float64
 4   HighBP_0.0                253680 non-null  int32
 5   HighBP_1.0                253680 non-null  int32
 6   HighChol_0.0              253680 non-null  int32
 7   HighChol_1.0              253680 non-null  int32
 8   CholCheck_0.0             253680 non-null  int32
 9   CholCheck_1.0             253680 non-null  int32
 10  Smoker_0.0                253680 non-null  int32
 11  Smoker_1.0                253680 non-null  int32
 12  Stroke_0.0                253680 non-null  int32
 13  Stroke_1.0                253680 non-null  int32
 14  HeartDiseaseorAttack_0.0  253680 non-null  int32
 15  HeartDiseaseorAttack_1.0  253680 non-null  int32
 16  PhysActivity_0.0          253680 non-null  int32
 17  PhysActivity_1.0          253680 non-null  int32
 18  Fruits_0.0                253680 non-null  int32
 19  Fruits_1.0                253680 non-null  int32
 20  Veggies_0.0               253680 non-null  int32
 21  Veggies_1.0               253680 non-null  int32
 22  HvyAlcoholConsump_0.0     253680 non-null  int32
 23  HvyAlcoholConsump_1.0     253680 non-null  int32
 24  AnyHealthcare_0.0         253680 non-null  int32
 25  AnyHealthcare_1.0         253680 non-null  int32
 26  NoDocbcCost_0.0           253680 non-null  int32
 27  NoDocbcCost_1.0           253680 non-null  int32
 28  GenHlth_1.0               253680 non-null  int32
 29  GenHlth_2.0               253680 non-null  int32
 30  GenHlth_3.0               253680 non-null  int32
 31  GenHlth_4.0               253680 non-null  int32
 32  GenHlth_5.0               253680 non-null  int32
 33  DiffWalk_0.0              253680 non-null  int32
 34  DiffWalk_1.0              253680 non-null  int32
 35  Sex_0.0                   253680 non-null  int32
 36  Sex_1.0                   253680 non-null  int32
 37  Age_1.0                   253680 non-null  int32
 38  Age_2.0                   253680 non-null  int32
 39  Age_3.0                   253680 non-null  int32
 40  Age_4.0                   253680 non-null  int32
 41  Age_5.0                   253680 non-null  int32
 42  Age_6.0                   253680 non-null  int32
 43  Age_7.0                   253680 non-null  int32
 44  Age_8.0                   253680 non-null  int32
 45  Age_9.0                   253680 non-null  int32
 46  Age_10.0                  253680 non-null  int32
 47  Age_11.0                  253680 non-null  int32
 48  Age_12.0                  253680 non-null  int32
 49  Age_13.0                  253680 non-null  int32
 50  Education_1.0             253680 non-null  int32
 51  Education_2.0             253680 non-null  int32
 52  Education_3.0             253680 non-null  int32
 53  Education_4.0             253680 non-null  int32
 54  Education_5.0             253680 non-null  int32
 55  Education_6.0             253680 non-null  int32
 56  Income_1.0                253680 non-null  int32
 57  Income_2.0                253680 non-null  int32
 58  Income_3.0                253680 non-null  int32
 59  Income_4.0                253680 non-null  int32
 60  Income_5.0                253680 non-null  int32
 61  Income_6.0                253680 non-null  int32
 62  Income_7.0                253680 non-null  int32
 63  Income_8.0                253680 non-null  int32
dtypes: float64(4), int32(60)
memory usage: 65.8 MB

,Diabetes_012,BMI,MentHlth,PhysHlth,HighBP_0.0,HighBP_1.0,HighChol_0.0,HighChol_1.0,CholCheck_0.0,CholCheck_1.0,...,Education_5.0,Education_6.0,Income_1.0,Income_2.0,Income_3.0,Income_4.0,Income_5.0,Income_6.0,Income_7.0,Income_8.0
0,0.0,40.0,18.0,15.0,0,1,0,1,0,1,...,0,0,0,0,1,0,0,0,0,0
1,0.0,25.0,0.0,0.0,1,0,1,0,1,0,...,0,1,1,0,0,0,0,0,0,0
2,0.0,28.0,30.0,30.0,0,1,0,1,0,1,...,0,0,0,0,0,0,0,0,0,1
3,0.0,27.0,0.0,0.0,0,1,1,0,0,1,...,0,0,0,0,0,0,0,1,0,0
4,0.0,24.0,3.0,0.0,0,1,0,1,0,1,...,1,0,0,0,0,1,0,0,0,0

### 1.2 Cross-Product Features

Common factors for Diabetes (according to CDC): https://www.cdc.gov/diabetes/basics/risk-factors.html

Possible Cross Product Features (according to ChatGPT):
- HighBP and HighChol
- Smoker and HvyAlcoholConsump
- Age and BMI
- GenHlth and MentHlth
- Education and Income
- AnyHealthcare and NoDocbcCost
- HighBP and HeartDiseaseorAttack

Others:
- Age and PhysActivity
- BMI and PhysActivity
- HvyAlcoholConsump and MentHlth

### 1.3 Performance Metric
Accuracy bad because class imbalance

F1 score (or F beta score)??

High precision = when the model predicts someone has prediabetes or diabetes, it is usually correct

High recall = the model is able to correctly identify all individuals with prediabetes or diabetes, even if it might also generate some false positives

### 1.4 Training and Testing Method
StratifiedKFold since the dataset is imbalanced??

## 2. Modeling
### 2.1 Initial Models

### 2.2 Model Comparison

### 2.3 Wide and Deep Network vs. Standard Multi-Layer Perceptron
(We can also compare to just a "deep" network, in which case rename this section)

## 3. Embedding Weights of Our Deep Network
### 3.1 Capture Embedding Weights

### 3.2 Visualization and Explanation